<% if(locals.logger){ %>
  <%- include('partials/header.ejs',{logger}) %>
  <%- include("partials/sideBar.ejs",{logger}) %>
<% }else{ %>
    <%- include('partials/header.ejs') %>
    <%- include("partials/sideBar.ejs") %>
<% } %>


  <h1>About us</h1>
  <p class="paragaraph">
    Quam purus justo enim purus, dolor enim, ut eu lectus nam eget nibh. Ante illum nullam leo, vivamus aliquam massa
    massainceptos fermentum porttitor, blandit vehicula, lorem in placerat ut aliquam at sociosqu. Vivamus duis
    ultricies
    aliquam placerat, tincidunt scelerisque imperdiet, egestas erat vel. Libero rerum. Donec ligula tristique, purus
    montes,
    feugiatid nunc in a nec. Duis odio, vitae sed etiam mi massa, laoreet amet purus amet rhoncus, eget sed, arcu
    urna.
    Maecenaswisi id, at donec enim. Proin nisl, pulvinar leo suspendisse, cum parturient non, congue leo et ut in,
    neque ut
    lacusauctor quam fermentum urna. Metus quis, mauris dictum aptent ultrices nulla viverra ornare, tempor elit enim
    leo
    donec,sed sed. Vivamus sapien facilisi, tempor arcu nulla justo sed et, eget suspendisse lacus sed nunc mattis
    lectus.
    Metusgravida.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam alias aperiam excepturi aspernatur vel dolorum totam aliquid provident eius neque corporis odio repudiandae maxime, quidem quod illum blanditiis, facilis sunt ducimus ratione nisi quasi? Recusandae quos voluptatum eos, fuga rem minus vel provident praesentium laboriosam quaerat corrupti nobis, fugiat modi? Sit reprehenderit perferendis labore iste qui maxime, vel doloribus quia temporibus fugiat libero suscipit quibusdam nobis nisi a totam perspiciatis? Deleniti ad nam commodi eaque natus eos dolorem ipsam, consequatur laudantium veniam vitae unde sunt, tempore, rerum veritatis non pariatur impedit doloribus? Unde corporis iusto laborum magni consequatur deserunt ut dignissimos assumenda, veritatis fugit velit quas rerum officia dolorem fugiat dolores. Quia, voluptate perferendis magnam molestiae nihil deleniti sint omnis cum non aliquam totam ratione saepe nisi nam sapiente. Ullam labore eligendi eveniet tempora corrupti quia asperiores tempore omnis modi nihil neque distinctio dolore, assumenda veritatis at temporibus nulla est! Recusandae, asperiores. Sit praesentium atque voluptatibus quo tenetur labore consequatur officia, libero porro explicabo alias vel nihil eveniet consectetur minima repellendus quam, accusantium itaque unde tempora perspiciatis eius assumenda corrupti et. Totam quod accusantium eligendi incidunt molestiae adipisci debitis eius nulla iste natus. Quia voluptates aspernatur iure reprehenderit eos magni facilis illo sint inventore laborum autem illum sit nobis, blanditiis quos obcaecati quam natus laboriosam asperiores, culpa architecto. Doloremque quis dolorem enim labore accusantium eveniet consequuntur architecto, veritatis nisi earum dolore tempora, repudiandae fuga libero ab voluptas quod optio vel, consequatur eos. Dolores fuga necessitatibus voluptates natus modi vero? Consectetur tempora a dignissimos necessitatibus non possimus aliquam, vero, nesciunt optio maxime nisi esse ab, corrupti molestias nostrum sunt sed ducimus provident! A quo commodi iure debitis cum aperiam soluta fuga praesentium officiis saepe, magnam labore asperiores eum distinctio ducimus! Alias ad officia id quia? Distinctio vitae maxime neque quaerat beatae harum voluptatem necessitatibus asperiores itaque eveniet officiis nam est minus autem quo accusamus facere quisquam vero, possimus enim dolorum ducimus saepe incidunt qui? Ad eum sed molestiae, iusto animi officiis sunt ipsam reprehenderit voluptates consectetur voluptas laboriosam at voluptatum pariatur veritatis suscipit! Illum sapiente eos eaque ipsa harum in, iure esse. Odio soluta animi molestiae voluptas accusamus maiores quia sunt, rem harum repellendus quod vero provident? Fugiat esse quis, maxime aperiam praesentium at obcaecati accusamus tempore facere repudiandae. Tempora exercitationem iste fugit deserunt eos, necessitatibus illum vel architecto a quae suscipit illo minus magnam qui incidunt laborum consequatur dolores modi praesentium accusamus blanditiis earum, quisquam mollitia cum? Odio earum enim libero nobis minima quis! Eius, cum! Porro quaerat nisi dolorum possimus magnam natus, quia repellat mollitia aliquam voluptate laborum atque maxime, iure unde? Sed expedita repudiandae, animi esse mollitia in porro quisquam a modi totam voluptate eaque culpa, earum explicabo consequuntur reprehenderit molestias. Eius alias eaque esse enim excepturi vitae, qui totam. Nostrum unde officiis ipsum, ducimus accusamus adipisci rerum placeat fugit sit natus suscipit nesciunt magni voluptate architecto dolorum beatae non cum inventore quaerat! Voluptate impedit ullam fugiat! Ut magni error laborum corrupti. Labore quisquam debitis fugiat, autem mollitia incidunt molestiae similique reiciendis voluptas, deleniti repellendus, hic nihil voluptatibus illo cumque cupiditate omnis deserunt commodi! Repellendus consequuntur deleniti mollitia atque amet aspernatur quis molestiae tenetur eos nam autem soluta ducimus, nobis, quia dolore enim iusto. Quos magni, vero ratione consectetur porro maiores explicabo! Impedit iure hic quas ipsum, consequatur labore libero expedita, mollitia a illum perferendis laboriosam saepe repudiandae quidem quasi. Reprehenderit labore assumenda quaerat earum quasi, saepe soluta illum officiis rem at provident, facere id iure ratione aspernatur? Ab sapiente officia quo totam necessitatibus, temporibus quibusdam expedita voluptatum laudantium beatae culpa, eos libero possimus iusto facere voluptatem quam dolore adipisci, harum molestiae. Necessitatibus totam nesciunt at. Ullam debitis cum, rem expedita enim consectetur rerum obcaecati et. Nobis a quam cumque similique iste cupiditate, quisquam soluta. Veniam animi nostrum cum, quis explicabo eligendi numquam quibusdam. Officiis doloremque modi ad animi incidunt quaerat labore, alias sapiente, odit aut eos necessitatibus iusto autem ipsam reiciendis vel obcaecati placeat! Corporis aspernatur repudiandae, ipsum quo excepturi quibusdam quasi esse accusantium natus qui cupiditate neque veritatis vero debitis, facere illo? Iure neque aperiam, corporis maiores ipsa, vel, eius vitae veniam fugiat at ipsum odio quas dolore nobis. Architecto dolores ut corrupti molestiae, unde, illo sit vel, veritatis quas ad pariatur voluptas sed nostrum quam nesciunt soluta veniam inventore eligendi ullam asperiores. Minus, veritatis deleniti deserunt recusandae magnam illo quisquam, nemo aliquid facere amet nesciunt? Quo modi est quidem fugiat reprehenderit, in obcaecati! Ea mollitia nemo neque repudiandae culpa nulla alias pariatur, dolorem similique dolore consequuntur placeat! Fuga quod vero, asperiores at laudantium aspernatur earum reprehenderit facere laboriosam a sed dolore eos quos quisquam distinctio eum. Consectetur, nam omnis non hic magnam impedit ab quo quis esse maxime fuga temporibus unde itaque soluta provident. Pariatur nulla unde magnam velit? Exercitationem sequi in similique architecto consectetur voluptatibus animi ab optio temporibus illum corrupti facere velit tempore aut est, quos qui autem necessitatibus, neque dolore! Adipisci cupiditate iure labore quis tenetur id molestias modi quod. Illum veniam provident, recusandae eligendi explicabo animi officia nisi perspiciatis ducimus quibusdam doloribus temporibus fugiat et sequi, quas ad error. Animi iusto magni at aspernatur voluptatem perferendis minima dicta, recusandae alias voluptate accusantium laborum corporis placeat aliquid dolore nostrum aliquam illo et hic quaerat id? Suscipit, ducimus temporibus eaque voluptatibus est fuga eveniet, porro dolorum autem dignissimos reprehenderit quae laboriosam odit culpa quis nemo facilis voluptate esse facere quas aut rerum labore. Laborum amet at, perspiciatis incidunt iure rerum excepturi! Dolorem nihil ullam eum debitis, non fugit, incidunt quod nostrum ipsam molestias aut quibusdam error voluptate omnis magnam eos recusandae cupiditate impedit suscipit similique esse. Quos a iste neque qui quibusdam dignissimos illum unde quisquam ratione explicabo commodi rerum quo eveniet molestias, optio, porro accusamus delectus similique autem sed! Laudantium distinctio nihil in animi asperiores eaque placeat beatae at voluptatum ut aliquam nostrum saepe debitis, repellendus velit perspiciatis, illo cumque nisi magnam enim excepturi! Assumenda impedit quod unde consequuntur dolorem tenetur nemo at molestias, distinctio sed maiores, voluptate eius ab praesentium quam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quas assumenda cum voluptate, doloremque eligendi accusantium illo consequuntur, nostrum neque esse beatae. Repudiandae consequuntur odit perspiciatis alias debitis. Voluptate, neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate error iste, incidunt voluptatibus eligendi saepe quos explicabo tempora facere iure in, a ullam et placeat velit sapiente! Tempora, recusandae corporis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quaerat, rem sint fugiat expedita deserunt quia fuga accusantium earum dolorum, officia sapiente iure totam id repudiandae minus. Dolorum, et labore!</p>
      <section id="footer">
        <footer class="container">
          <div class="contact-details">
              <h1 class="secondary-txt">Contact Me</h1>
              <p class="sec-low-txt">Please get in touch if you think our <br> work could be meutualy beneficial</p>
              <p class="sec-low-txt">NH6 Mombai Road <br> Panskua city, West Bengal 721139</p>
              <div class="contact">
                  <img class="callocation3" src="./images/call_FILL0_wght400_GRAD0_opsz48.png" alt="call">
                  <p class="sec-low-txt">+91 - 9382522438</p>
              </div>
              <div class="contact">
                  <img class="callocation3" src="./images/mail_FILL0_wght400_GRAD0_opsz48.png" alt="email">
                  <p class="sec-low-txt">arnabc.1616@gmail.com</p>
              </div>
              <div class="fb">
                  <div class="footer-icons">
                      <a href="https://github.com/dashboard" target="_blank">
                          <img src="./images/github.png" alt="">
                      </a>
                  </div>
                  <div class="footer-icons">
                      <a href="https://www.linkedin.com/feed/" target="_blank">
                          <img src="./images/linkdein.png" alt="linkdein">
                      </a>
                  </div>
                  <div class="footer-icons">
                      <a href="https://www.instagram.com/arnab.1616/" target="_blank">
                          <img src="./images/instagram.png" alt="" width="55px">
                      </a>
                  </div>
              </div>
          </div>
          <div class="image-section2">
              <img src="./images/WhatsApp Image 2023-08-11 at 00.01.39.jpg" alt="my-pic">
          </div>
      </footer>
    </section>
<%- include("partials/footerTags.ejs") %>